standardXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="Standard">
		<xs:annotation>
			<xs:documentation>XML-описание профессионального стандарта. Служит для генерации документов по макету Мин. труда. Для лучшего понимания концепции схема требует наличия документа: profstd2010.pdf и макета </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Title">
					<xs:annotation>
						<xs:documentation>Заголовок стандарта</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Metadata">
					<xs:annotation>
						<xs:documentation>Раздел общих метаданных для стандарта</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="creation_date" type="xs:date">
								<xs:annotation>
									<xs:documentation>Дата создания</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ved" type="xs:string">
								<xs:annotation>
									<xs:documentation>Наименование вида экономической деятельности, например "Управление органищацией"</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="level" type="xs:int" maxOccurs="8">
								<xs:annotation>
									<xs:documentation>Уровни, описываемые документом профстандарта</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="organization" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Информация о титульной организации. Обычно эта информация отображается в колонтитулах</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string">
											<xs:annotation>
												<xs:documentation>Полное название организации</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="website" type="xs:string">
											<xs:annotation>
												<xs:documentation>Веб-сайт организации</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ved_code" type="xs:integer" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Код ВЭД</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="developers">
								<xs:annotation>
									<xs:documentation>Информация о разработчиках профстандарта</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="main_developer" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Информация об основных разработчиках профстандарта</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="name" type="xs:string">
												<xs:annotation>
												<xs:documentation>Имя руководителя организации</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="organization" type="xs:string">
												<xs:annotation>
												<xs:documentation>Название организации</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="secondary_developer" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Информация о других организациях, принявших участие в разработке профстандарта</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="organization" type="xs:string">
												<xs:annotation>
												<xs:documentation>Название организации</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="city" type="xs:string">
												<xs:annotation>
												<xs:documentation>Название города</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Body">
					<xs:annotation>
						<xs:documentation>Тело стандарта. Содержит описания всех трудовых функций, группированных по категориям и уровням квалификации</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="level_description" maxOccurs="8">
								<xs:annotation>
									<xs:documentation>Описание уровня квалификации. Об уровнях можно прочитать в Национальной рамке квалификации (ОРК) и Отраслевой рамке квалификаций (НРК)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="level_numbers">
											<xs:annotation>
												<xs:documentation>Номер уровня квалификации в соответствии с классификаторами</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="level_ORK" type="xs:string">
												<xs:annotation>
												<xs:documentation>Уровень по Общей рамке классификации</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="level_NRK" type="xs:string">
												<xs:annotation>
												<xs:documentation>Уровень по Национальной рамке классификации</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="goal" type="xs:string">
											<xs:annotation>
												<xs:documentation>Основная Цель вида экономической деятельности</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="name" type="xs:string">
											<xs:annotation>
												<xs:documentation>Название вида трудовой деятельности</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="job_title" type="xs:string"
											maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Возможные наименования должностей</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="code" type="xs:string">
											<xs:annotation>
												<xs:documentation>Код уровня, например 7</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="additional_info">
											<xs:annotation>
												<xs:documentation>Дополнительная информация</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="ksd_job_title" type="xs:string"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Должности по
КСД, ЕКСД</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="etks_code" type="xs:string"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Наименования профессий по ЕТКС</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="okz_code" type="xs:int"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Коды занятий по ОКЗ, коды</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="unit_for_certificate" type="xs:string"
											maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Коды единиц, нужных для получения сертификата</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="level_card">
											<xs:annotation>
												<xs:documentation>Карточка уровня (вида деятельности)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="possible_workplace"
												type="xs:string">
												<xs:annotation>
												<xs:documentation>Возможные места работы</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="activity_specific"
												type="xs:string" maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Список условий деятельности</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="education" type="xs:string"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Требования к профессиональному образованию и обучению работника</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="experience" type="xs:string"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Требования к практическому опыту работы</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="certificates" type="xs:string"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Необходимость сертификатов, подтверждающих квалификацию</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="level_activities" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Здесь хранятся все трудовые функции для уровня, сгруппированные по категориям активности.  Включает все трудовые функции</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="code" type="xs:string">
												<xs:annotation>
												<xs:documentation>например А, B, C</xs:documentation>
												<xs:appinfo>
																<altova:exampleValues>
																	<altova:example value="D"/>
																	<altova:example value="C"/>
																	<altova:example value="B"/>
																	<altova:example value="A"/>
																</altova:exampleValues>
															</xs:appinfo>
												</xs:annotation>
												</xs:element>
												<xs:element name="name" type="xs:string">
												<xs:annotation>
												<xs:documentation>Наименование категории активности, уточненной по уровню. Например, для активности 8A, наименованием будет "Отстаивать долгосрочные интересы акционеров (учредителей)."</xs:documentation>
												<xs:appinfo>
																<altova:exampleValues>
																	<altova:example value="Отстаивать долгосрочные интересы акционеров (учредителей)."/>
																</altova:exampleValues>
															</xs:appinfo>
												</xs:annotation>
												</xs:element>
												<xs:element name="standard_unit"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Трудовая функция. Состоит из кода, названия и нескольких разделов описаний</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:sequence>
												<xs:element name="code" type="xs:string">
												<xs:annotation>
												<xs:documentation>код подкатегории единицы. Например для 8А5 это будет 5</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="name" type="xs:string">
												<xs:annotation>
												<xs:documentation>Название трудовай функции</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="knowledge_unit"
												maxOccurs="unbounded" minOccurs="0">
												<xs:annotation>
												<xs:documentation>Текст знания, умения, действия или качества</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:simpleContent>
												<xs:extension base="xs:string">
												<xs:attribute name="type" type="xs:string">
												</xs:attribute>
												</xs:extension>
												</xs:simpleContent>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="life_cycle">
								<xs:annotation>
									<xs:documentation>Элементы вида "А. Анализ, планирование деятельности"</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="code" type="xs:string"/>
										<xs:element name="name" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Appendix">
					<xs:annotation>
						<xs:documentation>Раздел приложений</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="application_area" type="xs:string">
								<xs:annotation>
									<xs:documentation>Область применения стандарта</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="glossary">
								<xs:annotation>
									<xs:documentation>Словарь терминов, использованных в стандарте</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="term" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Термин</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="name" type="xs:string">
												<xs:annotation>
												<xs:documentation>Наименование термина</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="definition" type="xs:string">
												<xs:annotation>
												<xs:documentation>Определение термина</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="abbreviations">
								<xs:annotation>
									<xs:documentation>Сокращения, использованные в стандарте</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="abbreviation" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сокращение</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<xs:element name="name" type="xs:string">
												<xs:annotation>
												<xs:documentation>Наименование сокращения</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="definition" type="xs:string">
												<xs:annotation>
												<xs:documentation>Расшифровка сокращения</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
